h1{
	text-align: center;
	color: black;
	font-size: 50px;
	margin-top: 10px;
}
body {
	padding: 5px;
	text-align: center;
	color: black;
	font-family: Helvetica;
	background-color: blue;
	font-size: 20px;
}
#slogan {
	font-style: italic;
	font-size: 40px;
	color: black;
	padding: 5px;
}
   img {
      width: 50%;
      height: auto;
      margin-bottom: 10px;
      
   }
 #intro {
 	text-align: center;
 	font-size: 20px;
 }
